.titleTab{
    margin-bottom: 30px;
}
.tableSize{
    max-height: 500px;
    overflow-y: auto;
    background-color:white;
    margin-bottom:10px;
}

.tableBackground{
    padding-top:10px;
    margin-top:42px;
    border-right: 2px solid  rgb(241, 237, 237)
}
.white{
    background-color: white;
}

#suggestionContainer{
    margin-right:15px;
    border-radius: 15px;
    margin-bottom:20px;
    padding-right:20px;
    padding-left:20px;
}
#changeContainer{
    border-radius:15px;
    padding:15px;
}

/*PHOTO*/

.cardImgUpload{
    position: relative;
}


.btnGroupPhoto{
    position: absolute;
    top:5%;
    left:2%;
}
  

/*


CARD ADD PHOTO 


*/

.titleCardAdd{
    padding:1px !important;
    font-size: 16px;
}


.containerPopOver{
    position:relative;
    float:right;
}

[data-hidden='true']{
    display: none;
}

.contentPopOver{
    position:absolute;
    z-index:100;
    left:-219px;
    top: 40px;
    background-color:white;
    padding:10px;
    border:2px solid rgb(170, 170, 170);
    border-radius: 5px;
}

.GroupbuttonsAdd, .cardPhotoAdd{
    display: inline-block;
    vertical-align: bottom;
}

.buttonsAdd{
    margin-top:30px;
    margin-left:5px;
}

[data-containImg='false']{
    background-color: lightgrey;
}

.relationTr td{
    vertical-align: middle !important;
}

.containerImgRelation{
    width:80px;
    height:80px;
}
/*

NORMAL POPOVER ADD ONLY TEXT

*/

.containerDropdownElement{
    float:right;
}

.contentDropdownElement{
    padding:10px;
}

.errorMsg{
    color:red;
}

#navContentContainer{
    height:600px;
}
.nav-link{
    cursor: pointer;
}
.contentUserTable{
    cursor: pointer;
}
.contentUserTable:hover{
    background-color: lightslategrey;
}
.activeNav{
    color:white !important;
    background-color:#007bff !important;
}
#textAddCity{
    margin-left:54px
}

.marginBottom{
    margin-bottom:20px;
}

.inlineBlock{
    display: inline-block;
}
.invisible{
    display: none;
}
.AdminCard{
    margin-bottom: 20px;
}

.bodyAdminCard{
    height: 500px;
    overflow-y: auto;
}

#searchIcon{
    margin-left:2px;
}

.noCursor{
    cursor: auto;
}





/**
    CARD

*/

.titleCard{
    text-align: center;
    height:60px;
    font-size:13px;
}

.textAreaAdd{
    width:100%;
    height:100%;
}

.cardImage{
    width:128px;
    height:120px;
}

.cardElement{
    width:130px;
    display:inline-block;
    vertical-align: bottom;
}

.cardElement:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.cardElement:hover .containerBtnOverlay {
    opacity: 1;
    cursor: pointer;
}

.containerAddBtn{
    position: absolute;
    top:40%;
    left:15%;
}

.containerDeleteBtn{
    position: absolute;
    top:40%;
    left:7%;
}
.containerBtnOverlay{
    opacity: 0;
    transition: opacity .35s ease;
    font-size: 10px;
}

.btnDelete{
    font-size:15px;
    background-color: red;
    color:white;
}

.btnAdd{
    font-size:15px;
    background-color: rgb(15, 223, 15);
    color:white;  
}

.image{
    width:100%;
    height:100%;
}

.containerHobby{
    background-color:#cce5ff;
    color: #004085;
    border-radius: 10px;
    margin-top:10px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    padding:20px;

}

.containerHobby:hover{
    background-color:#cd1608;
    color: white;
    padding:15px;
}
.deleteHobbyIcon{
    display: none;
}

.containerHobby:hover > .deleteHobbyIcon{
    display: contents;
}