#pageContainer img{
    border-radius: 50%;
}

#matchedUserContainer{
    background-color : #ffc107;
    overflow-y : scroll;
}

#matchedUserContainer img{
    height: 40px;
    width: 40px;
}

.matchedUser{
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:5px 0px;
}

.matchedUser:hover{
    background-color: #647ef0;
    cursor:pointer;
}

.selectedMatchedUser{
    background-color: #E86B51;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:5px 0px;
}

.selectedMatchedUser:hover{
    cursor:pointer;
}

#chatSelectedContact{
    color : inherit;
    background-color: #007bff;
}

#chatSelectedContact img{
    height: 70px;
    width: 70px;
}

#chatSelectedContact:hover{
    color : inherit;
    text-decoration: none;
}

#chatBox{
    background-color: #004085;
    overflow-y: auto;
}

.userMessage{
    background-color: #cce5ff;
}

.contactMessage{
    background-color: gray;
}

.messageContainer {
    margin: 5px;
}

.messageContainer img{
    height: 40px;
    width: 40px;
}