#matchedUserContainer{
    border : 0px solid gray;
    overflow-y : scroll;
}

.matchedUser{
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 5px;
}

.matchedUser:hover{
    cursor:pointer;
}

#chatSelectedContact{
    color : inherit;
}

#chatSelectedContact:hover{
    color : inherit;
    text-decoration: none;
}