#footer.stikybottom {
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
}

#footer{
    background-color: #1f1c2e;
    height: 50px;
    color: white;
}

#pageContainer{
    height: calc(100vh - 120px) !important;
}
