#navbar{
    background-color: orange;
}

#containerHeaderPhoto,#dropdown{
    display:inline-block;
    vertical-align: bottom;
}

#dropdown{
    z-index:10000;
}

#headerProfilePhoto{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#containerHeaderPhoto{
    width:50px;
    height:50px;
    margin-right:10px;
}

#containerNotif{
    background-color: red;
    color:white;
    position: absolute;
    padding-right:5px;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 15px;
    height:20px;
    top:-10;
    right:-10;
}

#btnChat{
    position: relative;
    font-size:20px;
}

#textIdea{
    width:100% !important;
}

.invisible{
    display: none;
}