#userphoto{
    width: 200px;
    height: 200px;
}
#edit{
    position:absolute;
    z-index: 1000;
    top:10;
    right:10;
}


#name{
    font-size: 30px;
    font-weight: bold;
}
#containerProfile{
    max-width:800px;
    margin:auto;
    position:relative;
    background: #E86B51;
    padding: 20px;
    min-height:100%;
}


@media screen and (min-width: 769px) {
    #name {
        position:absolute;
        bottom:0;
    }
}
@media screen and (max-width: 768px) {
    #containerProfile {
        max-width:540px !important;
    }
    #containerName{
        padding-top:10px;
        text-align:center;
    }
    #userPhoto{
        display:block;
        margin:auto; 
    }
    #editProfileText{
        display:none;
    }
}
