#background{
	background-color:#e86b51;
	height:100%;
	overflow-y: auto;
	margin-right: 0px !important;
	margin-left:0px !important;
}
#containerLogo{
	height:160px;
	width: 640px;
}

#rowLogo{
	margin-bottom:80px;
}

#logo{
	margin-left:20px;
	margin-top:50px;
}

img{
	width:100%;
	height:100%
}

#rowTop{
	margin-top:15px;
	margin-bottom:15px;
}
#rowBottom{
	margin-top:15px;
}
#containerRegister, #containerConnection{
	background-color: white;
	padding-top:15px;
	margin-top:30px;
	margin-bottom:30px;
}

#btnSubmit{
	float: right;
}

#email, #birthday, #city, #password{
	width:86%;
}

#password{
	display: inline-block;
}

#containerRegister{
	background-color: white;
	padding:15px;
	border-radius: 10px;
}

.error{
	color: red;
}

input[type='date']{
	cursor: pointer;
}

#seePassword{
	cursor: help;
}

select{
	cursor: pointer;
}
