#containerMessageSuccess{
    position:absolute;
    top:10; 
    left: 40%;
    z-index: 10000;
    padding:10px;
    display:none;
    width:400px;
    background-color: white;
    border:1px solid lightgrey;
    border-radius: 10px;
}


@media screen and (max-width: 768px) {
    #containerMessageSuccess{
        position:absolute;
        top:10; 
        left: 20%;
        z-index: 10000;
        padding:10px;
        display:none;
        width:350px;
        background-color: white;
        border:1px solid lightgrey;
        border-radius: 10px;
    }
}


@media screen and (max-width: 576px) {
    #containerMessageSuccess{
        position:absolute;
        top:10; 
        left: 10%;
        z-index: 10000;
        padding:10px;
        display:none;
        width:300px;
        background-color: white;
        border:1px solid lightgrey;
        border-radius: 10px;
    }
}

#image{
    width: 100%;
    height:100%;
}

#containerImgSuccess{
    width: 20px;
    height:30px;
    margin-right: 10px;
}

#messageSuccess, #containerImgSuccess{
    display: inline-block;
    vertical-align: bottom;
}