.background {
    background: #E86B51;
    height: 100%;
    user-select: none;
}

#card {
    width: 500px;
    margin: auto !important;
    display: block;
    height: 500px;
    position: relative;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.buddy {
    display: none;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: black;
    width: 275px;
    height: 400px;
    left:50px;
    top: 40px;
    position: absolute;
    cursor: hand;
}
.buddyEnd {
    display: none;
    background: orangered;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: black;
    width: 275px;
    height: 400px;
    left:50px;
    top: 40px;
    position: absolute;
    cursor: hand;
}
.rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
    z-index: 10;
}
.rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
    z-index: 10;
}
.avatar {
    width: 275px;
    height: 275px;
    display: block;
    border-radius: 15px;
    background-size: auto 160% !important;
    background-position: center;
    background-repeat: no-repeat;
    z-index: auto;
}
.name {
    color: white;
    font-size: 1.5vw;
    padding-left: 10px;
    transform: translate(0,-40px);
    left : 10px;
    z-index: auto;
}
.description {
    font-size: 1vw;
    padding-left: 10px;
    transform: translate(0,-20px);
    left : 10px;
    z-index: auto;
}
.miam {
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    right: 40px;
    text-shadow: none;
}
.beurk {
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid dodgerblue;
    color: dodgerblue;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 40px;
    text-shadow: none;
}
#blockButtons {
    width:275px ;
    display: flex;
    margin-left: 50px;
    margin-top: -50px;
    justify-content: space-around;
}
.buttons {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50px;
    cursor :pointer;
}

.buttons:hover {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50px;
    border: solid 5px gray;
}

.buttons img {
    width: 70%;
    height: 70%;
    margin-left: 8px;
    margin-top: 9px;
}

.buttons:hover img {
    width: 85%;
    height: 85%;
    margin-left: 3px;
    margin-top: 4px;
}

#parameters {
    margin-top: 50px;
    height: 850px;
    width: 400px;
    border-radius: 20px;
    transform: translate(-100px,0);
    transition-duration: 1s;
    background: #E1E1E1;
    float:left;
    display: flex;
}
#parametersBtn {
    z-index: 2000;
}
.titleParameter {
}
.showMoreBtn {
    width:100%;
    background: #E86B51;
    color:white;
    border-radius: 0 0 10px 10px;
    margin-top:-10px;
    margin-bottom: 5px;
    font-size:14px;
    text-align: center;
}
#spaceBlock {
    width: 100px;
    height: 100%;
}

#blockParameters {
    padding-left: 10px;
    padding-right: 10px;
    padding-top : 5px;
    width: 100%;
    height: 100%;
}
.boxSelect {
    padding: 5px;
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.boxSelectModified {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: white;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
    overflow: hidden;
    height: 80px;
}

#closeBtn {
    position: absolute;
    transform: translate(270px,-30px);
}
#overlayProfil {
    display: flex;
    background: #fff;
    margin-left:200px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 700px;
    height: 500px;
    opacity: 100%;
    top: 30px;
    position: absolute;
    cursor: hand;
}
.backgroundOverlay {
    display: flex;
    position: absolute;
    background: rgba(38, 12, 12, 0.8);
    height: 100%;
    width: 100%;
    transform: translate(-15px,0);
    z-index:100;
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}
#profilCloseBtn {
    transform: translate(870px,10px);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    z-index:1000;
}
