.background {
    background: #E86B51;
    user-select: none;
    height:100%;
    overflow-y: hidden;
    position: fixed;
}

#card {
    width: 500px;
    margin: auto !important;
    display: flex;
    height: 500px;
    position: relative;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.buddy {
    display: none;
    background: lightgray;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: black;
    width: 300px;
    height: 480px;
    top: 20px;
    position: absolute;
    cursor: hand;
}
.moveOpenProfil {
    transform: translate(150px,0);
    z-index: 20;
    transition: 0.5s;
}
.buddyEnd {
    display: none;
    background: orangered;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: black;
    width: 300px;
    height: 480px;
    top: 20px;
    position: absolute;
    cursor: hand;
}
.rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
    z-index: 10;
}
.rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
    z-index: 10;
}
.name {
    display: flex;
    align-items:center;
    position: relative;
    height: 10%;
    font-size:24px;
    color: white;
    border-radius: 0px 0px 15px 15px;
    background: #AD270D;
    padding-left: 10px;
    transform: translate(0,-42px);
    z-index: 100;
}
.titledescription {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    position: relative;
    height: 9%;
    font-size:10px;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    border-radius: 0px 0px 15px 15px;
    background: #721907;
    transform: translate(0,-65px);
    z-index: 80;
}
.avatar {
    position: relative;
    width: 300px;
    height: 300px;
    display: block;
    background-size: auto 160% !important;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 50;
}

.description {
    display: block;
    align-items:flex-start;
    position: absolute;
    height: 23%;
    width: 100%;
    font-size:15px;
    line-height:18px;
    color: black;
    border-radius: 0 0 15px 15px;
    background: white;
    padding: 17px 10px 15px;
    white-space: normal;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translate(0,-55px);
    z-index: 70;
}
.meat{
    display: flex;
    align-items:flex-end;
    position: relative;
    border-radius: 0px 0px 15px 15px;
    height: 14%;
    font-size:22px;
    color: white;
    background: #cd1608;
    transform: translate(0,65px);
    justify-content: space-evenly;
}
.circle{
    height: 50px;
    width: 50px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 5px 10px;
}
.iconcard img {
    margin-left:20px;
    width: 40px;
    height: auto;

}
.miam {
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    text-shadow: none;
}
.beurk {
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid dodgerblue;
    color: dodgerblue;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    text-shadow: none;
}
#blockButtons {
    align-content: center;
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}
.buttons {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50px;
    cursor :pointer;
}

.buttons:hover {
    background: white;
    border-radius: 50px;
    border: solid 5px gray;
}

.buttons img {
    width: 70%;
    height: 70%;
    margin-left: 8px;
    margin-top: 9px;
}

.buttons:hover img {
    width: 85%;
    height: 85%;
    margin-left: 3px;
    margin-top: 4px;
}
.animationParameters{
    transform: translate(-120px,0);
    transition: 0.5s;
}
#parameters {
    margin-top: 20px;
    width: 400px;
    border-radius: 20px;
    background: #E1E1E1;
    float:left;
    display: flex;
}
.relationPanel {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 480px;
    width: 80px;
    background: #AD270D;
    border-radius: 40px;
    justify-content: space-between;
    transform: translate(-100px,0);
}
.relationCase {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    background: white;
    margin-left: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.relationCase img {
    margin-top: 1px;
    margin-left: 1.2px;
    position: relative;
    width: 60px;
    height: 60px;
}
.watchProfile{
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
    transform: translate(-160px,0);
    z-index: 1;
}
.moreinfoUser {
    display: flex;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: black;
    width: 400px;
    height: 480px;
    left:80px;
    top: 20px;
    position: absolute;
    cursor: hand;
    z-index:10;
}
#closeProfileBtn {
    position: absolute;
    /*transform: translate(255px,-20px);*/
    transform: translate(440px,5px);
    z-index:11;
}

@media screen and ( max-height: 800px ) {
    #parameters{
        border: 10px solid #E1E1E1;
        max-height: 500px;
        overflow-y: auto;
    }
}
@media screen and ( min-height: 800px ) {

    .buddy {
        border-radius: 25px;
        width: 365px;
        height: 594px;
        background: lightgray;
        top: 40px;
    }
    .name {
        font-size:32px;
    }
    .avatar {
        width: 365px;
        height: 365px;
        border-radius: 25px;
    }
    #blockButtons {
        transform: translate(0,150px);
    }
    .buttons {
        width: 60px;
        height: 60px;
    }
    .relationPanel {
        margin-top: 40px;
        height: 600px;
        transform: translate(-50px,0);
    }
    .description {
        padding-top: 15px;
        line-height: 20px;
        height: 23%;
        width: 100%;
        font-size:20px;
        transform: translate(0,-55px);
    }
    .meat{
        transform: translate(0,85px);
    }
    .circle{
        height: 70px;
        width: 70px;
        margin: 8px 10px;
    }
    .moreinfoUser {
        width: 500px;
        height: 594px;
        left:80px;
        top: 40px;
    }
    #closeProfileBtn {
        transform: translate(530px,5px);
    }
    .moveOpenProfil {
        transform: translate(200px,0);
    }
    #parameters {
        margin-top: 40px;
        width: 400px;
    }
}


.showMoreBtn {
    width:100%;
    background: #E86B51;
    color:white;
    border-radius: 0 0 10px 10px;
    margin-top:-10px;
    margin-bottom: 5px;
    font-size:14px;
    text-align: center;
}
#blockParameters {
    padding-left: 10px;
    padding-right: 10px;
    padding-top : 5px;
    position: relative;
}
.boxSelect {
    padding: 5px;
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.boxSelectModified {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: white;
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
    overflow: hidden;
    height: 80px;
}

#closeBtn {
    position: absolute;
    /*transform: translate(255px,-20px);*/
    transform: translate(375px,5px);
    z-index:100;
}

#submitParameter {
    width: 100%;
    margin-bottom: 10px;
}
