




.background {
    background: #e6563a;/*#E86B51*/
    user-select: none;
    height:100%;
    overflow-y: hidden;
    position: fixed;
}

[data-hidden="true"]{
    display: none;
}
#card {
    width: 500px;
    margin: auto !important;
    display: flex;
    height: 500px;
    position: relative;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursorPointer{
    cursor: pointer;
}
.buddy {
    display: none;
    background: lightgray;
    /* border-radius: 30px; */
    color: black;
    width: 300px;
    border-radius: 25px;
    height: 475px;
    top: 20px;
    position: absolute;
}
.buddy img{
    border-radius: 25px;
    width: 100%;
    height: 100%;
}
.moveOpenProfil {
    transform: translate(150px,0);
    z-index: 20;
    transition: 0.5s;
}
.buddyEnd {
    display: none;
    background: orangered;
    border-radius: 30px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
    color: black;
    width: 300px;
    height: 480px;
    top: 20px;
    position: absolute;
}
.rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
    z-index: 10;
}
.rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
    z-index: 10;
}
.name {
    display: flex;
    align-items:center;
    position: relative;
    height: 10%;
    font-size:24px;
    color: white;
    border-radius: 0px 0px 15px 15px;
    background: #cd1608;
    padding-left: 10px;
    transform: translate(0,-42px);
    z-index: 100;
}
.titledescription {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    position: relative;
    height: 9%;
    font-size:10px;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    border-radius: 0px 0px 15px 15px;
    background: #721907;
    transform: translate(0,-65px);
    z-index: 80;
}
.avatar {
    position: relative;
    width: 300px;
    height: 300px;
    display: block;
    background-size: auto 160% !important;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 50;
}

.description {
    display: block;
    align-items:flex-start;
    position: absolute;
    height: 23%;
    width: 100%;
    font-size:15px;
    line-height:18px;
    color: black;
    border-radius: 0 0 15px 15px;
    background: white;
    padding: 17px 10px 15px;
    white-space: normal;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translate(0,-55px);
    z-index: 70;
}

.relationCase[data-selected="false"] {
    filter: grayscale(1);
    transition: 1s;
}

.relationCase[data-selected="true"]{
    filter: grayscale(0);
    transition: 1s;
}
.meatCase[data-selected="false"] {
    filter: grayscale(1);
    transition: 1s;
}

.meatCase[data-selected="true"]{
    filter: grayscale(0);
    transition: 1s;
}

.meat{
    display: flex;
    align-items:flex-end;
    position: relative;
    /* border-radius: 0px 0px 15px 15px; */
    height: 14%;
    font-size:22px;
    color: white;
    border-radius: 0px 0px 25px 25px;
    background: #cd1608;
    transform: translate(0,65px);
    justify-content: space-evenly;
}
.meatCase {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5px;
}
.meatCase img {
    position: relative;
    width: 100%;
    height: 100%;
}
.iconcard img {
    margin-left:20px;
    width: 40px;
    height: auto;

}
.miam {
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    text-shadow: none;
}
.beurk {
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid dodgerblue;
    color: dodgerblue;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    text-shadow: none;
}
#blockButtons {
    align-content: center;
    width: 365px;
    min-width: 200px;
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}
.buttons {
    width: 50px;
    height: 50px;
    margin-left:10px;
    margin-right:10px;
    background: white;
    border-radius: 50px;
    cursor :pointer;
}
.buttonParameter{
    position: absolute;
    display: flex;
    width: 300px;
    justify-content: flex-end;
    height: 45px;
    background: white;
    border-radius: 10px;
    transform: translate(-420px,20px);
    align-items: center;
    transition: 0.5s;
}
.buttonParameter img{
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
}
.buttonParameter h4{
    margin-top: 5px;
}

.buttons:hover {
    background: white;
    border-radius: 50px;
    border: solid 5px gray;
}

.buttons img {
    width: 70%;
    margin: 8px;
    height: 70%;
}

.buttons:hover img {
    width: 85%;
    height: 85%;
    margin-left: 3px;
    margin-top: 4px;
}
.buttonsClose {
    position: relative;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50px;
    cursor :pointer;
}

.buttonsClose img {
    width: 70%;
    height: 70%;
    margin-left:6px ;
    margin-top:6px ;
}
.animationParameters{
    transform: translate(-450px,0);
    transition: 0.5s;
    z-index: 400;
}
#parameters {
    margin-top: 20px;
    width: 400px;
    border-radius: 20px;
    background: #E1E1E1;
    float:left;
    display: flex;
}
.relationPanel {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 480px;
    width: 80px;
    z-index: 10;
    background: #cd1608;
    border-radius: 40px;
    justify-content: space-between;
    transform: translate(-100px,0);
    transition: 0.5s;
}
.relationCase {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 5px;
}
.relationCase img {
    position: relative;
    width: 70px;
    height: 70px;
}
.watchProfile{
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
    transform: translate(-160px,0);
    z-index: 1;
}
.moreinfoUser {
    display: flex;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: black;
    width: 400px;
    height: 480px;
    overflow-y:auto;
    left:80px;
    top: 20px;
    position: absolute;
    cursor: hand;
    z-index:10;
}
#closeProfileBtn {
    position: absolute;
    /*transform: translate(255px,-20px);*/
    transform: translate(440px,5px);
    z-index:11;
}
.dietblock{
    display: flex;
}

.showMoreBtn {
    width:100%;
    background: #E86B51;
    color:white;
    border-radius: 0 0 10px 10px;
    margin-top:-10px;
    margin-bottom: 5px;
    font-size:14px;
    text-align: center;
}
#blockParameters {
    padding-left: 10px;
    padding-right: 10px;
    padding-top : 5px;
    position: relative;
}
.boxSelect {
    padding: 5px;
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.boxSelectModified {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: white;
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
    overflow: hidden;
    height: 80px;
}

#closeBtn {
    position: absolute;
    /*transform: translate(255px,-20px);*/
    transform: translate(370px,5px);
    z-index:100;
}
.profilopen{
    transform: translate(0,0);
}

@media screen and ( max-height: 800px ) {
    #parameters{
        border: 10px solid #E1E1E1;
        max-height: 500px;
        overflow-y: auto;
    }
}
@media screen and ( min-height: 800px ) {

    .buddy {
        border-radius: 30px;
        width: 365px;
        height: 594px;
        background: lightgray;
        top: 40px;
    }
    .name {
        font-size:32px;
    }
    .avatar {
        width: 365px;
        height: 365px;
        border-radius: 25px;
    }
    #blockButtons {
        transform: translate(0,150px);
    }
    .buttons {
        width: 60px;
        height: 60px;
    }
    .relationPanel {
        margin-top: 40px;
        height: 600px;
    }
    .description {
        padding-top: 15px;
        line-height: 20px;
        height: 22%;
        width: 100%;
        font-size:20px;
        transform: translate(0,-55px);
    }
    .meat{
        transform: translate(0,88px);
    }
    .circle{
        height: 70px;
        width: 70px;
        margin: 8px 10px;
    }
    .circle img{
        height: 70px;
        width: 70px;
    }
    .moreinfoUser {
        width: 500px;
        height: 594px;
        left:80px;
        top: 40px;
    }
    #closeProfileBtn {
        transform: translate(535px,20px);
    }
    .moveOpenProfil {
        transform: translate(200px,0);
    }
    #parameters {
        margin-top: 40px;
        width: 400px;
    }
    #closeBtn {
        transform: translate(380px,20px);
    }
    .buttonParameter{
        transform: translate(-420px,20px);
    }
    .buttonParameter img{
        width: 50px;
        height: 50px;
    }


}
@media ( max-width: 1000px) {
    .relationPanel {
        transform: translate(-360px,0);
    }
    .moveOpenProfil{
        transform: translate(-200px,0);
        transition: 0.5s;
    }
    #blockButtons {
        transform: translate(-70px,150px);
        min-width: 200px;
    }
    .moveOpenProfil {
        transform: translate(0,0);
    }
    .watchProfile{
        transform: translate(-400px,0);
        z-index: 2000;
    }


}
@media screen and ( max-width: 700px) {
    .moveOpenProfil{
        transform: translate(-130px,0);
        transition: 0.5s;
    }
}
#submitParameter {
    width: 100%;
    margin-bottom: 10px;
}

/*MODIFICATION DU STYLE BOOTSTRAP*/
.custom-switch .custom-control-label::after {
    background-color: gray;
}
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #d29f60;
    background-color: #f3c385;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color:#adb5bd;
    background-color: lightgray;
}
.custom-control-input:not(:checked) ~ .custom-control-label::before {
    background-color: lightgray;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #d29f60;
    border-color: #f3c385;
}

.custom-range::-moz-range-thumb:active {
    background-color: #f79b2b;
}
.custom-range::-moz-range-thumb{
    background-color: #999999;
}
.custom-range::-moz-range-track {
    background-color: #f3c385;
    transition: 0.5s;
}
.range-under::-moz-range-thumb:active {
    background-color: #f79b2b;
}
.range-under::-moz-range-thumb{
    background-color: #999999;
}
.range-under::-moz-range-track {
    background-color: #f3c385;
    transition: 0.5s;
}
.range-under {
    pointer-events: none;
}
.range-over::-moz-range-thumb{
    background-color: #999999;
    pointer-events: none;
}
.range-over {
    pointer-events: none;
}

.range-over::-moz-range-track{
    opacity: 0;
    pointer-events: none;
}
.custom-range-hide::-moz-range-track {
    background-color: lightgray;
    transition: 0.5s;
}
.custom-range-hide::-moz-range-thumb{
    background-color: lightgray;
}
.custom-range-show::-moz-range-track {
    background-color: #ff7357;
    transition: 0.5s;
}
.custom-range-show::-moz-range-thumb{
    background-color: #E86B51;
}

.custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 0 #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.custom-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 0 #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.custom-range:focus::-ms-thumb {
    box-shadow: 0 0 0 0 #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.btn-parameters {
    color: #fff;
    font-weight: bold;
    background-color:#f9a53e;
    border-color: #bb8a4e;
}

.btn-parameters:hover {
    color: #fff;
    background-color: #fb9921;
    border-color: #bb8a4e;
}

.btn-parameters:focus, .btn-parameters.focus {
    color: #fff;
    background-color: #f9a53e;
    border-color: #bb8a4e;
    box-shadow: 0 0 0 0rem rgba(38, 143, 255, 0.5);
}

.btn-parameters.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-parameters:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-parameters:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}