.background {
    background: #E86B51;
    height: 1080px;
}
#card {
    width: 500px;
    margin: auto !important;
    display: block;
    height: 600px;
    position: relative;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.buddy {
    display: none;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: black;
    width: 350px;
    height: 500px;
    top: 200px;
    position: absolute;
    cursor: hand;
}
.rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
    z-index: 10;
}
.rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
    z-index: 10;
}
.avatar {
    width: 350px;
    height: 350px;
    display: block;
    border-radius: 20px;
    background-size: auto 160% !important;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}
.name {
    color: white;
    font-size: 1.5vw;
    z-index: 20;
    padding-left: 10px;
    transform: translate(0,-40px);
    left : 10px;
    pointer-events: none;
}
.description {
    font-size: 1vw;
    z-index: 20;
    padding-left: 10px;
    transform: translate(0,-20px);
    left : 10px;
    pointer-events: none;
}
.like {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid green;
    color: green;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    right: 40px;
    text-shadow: none;
}
.dislike {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 40px;
    text-shadow: none;
}
#blockButtons {
    display: flex;
    margin-top: 150px;
    justify-content: space-evenly;
}
.buttons {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50px;

}
.buttons:hover {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50px;
    border: solid 5px gray;

}
.buttons img {
    width: 70%;
    height: 70%;
    margin-left: 9px;
    margin-top: 9px;

}